@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  body {
    background-color: #080c14;
    color: #ffffff;
  }
}

@theme {
  --font-display: "Rajdhani", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: oklch(39.8% 0.07 227.392);
}
::-webkit-scrollbar-thumb {
  background: oklch(52% 0.105 223.128);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: oklch(78.9% 0.154 211.53);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}