@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  body {
    background-color: #080c14;
    color: #f3f4f6;
  }
}

@theme {
  --font-display: "Rajdhani", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0d1220;
}
::-webkit-scrollbar-thumb {
  background: #243059;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4070ff;
}
