@import "tailwindcss";

@layer base {
  body {
    background-color: #080c14;
    color: #f3f4f6;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0d1220;
}
::-webkit-scrollbar-thumb {
  background: #243059;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4070ff;
}
